.ul li{
    display: inline-block;
    width: 30px;
    margin: 15px 0px 0px 0px;
}
.point{
    padding: 15px 0px 0px 0px;
}
.fa:hover{
    background-color: rgb(123, 123, 250);
    text-decoration: none;
     border-radius: 3px;
     color: white;
     transition: 0.5s;
}
.fa{
    padding: 5px 4px 5px 4px;
    color: white;
    width: 20px;
}
.source{
    text-align: center;
    padding: 15px 0px 0px 0px;

}
.meeting{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(73, 73, 167);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.uk{
    text-decoration: none;
   color: gray;
   font-family: Arial, Helvetica, sans-serif;
   border:solid 1px black ;
   height: 30px;
   background-color: whitesmoke;
   font-size: 12px;
   cursor: pointer;
}
.now{
    text-decoration: none;
   color: gray;
   font-family: Arial, Helvetica, sans-serif;
   border:solid 1px black;
   background-color: whitesmoke;
   height: 30px;
   cursor: pointer;
   font-size: 12px;
}
.result{
    text-decoration: none;
   color:gray;
   font-family: Arial, Helvetica, sans-serif;
   border:solid 1px black;
   background-color: whitesmoke;
   height: 30px;
   font-size: 12px;
   cursor: pointer;
}
.trust{
    height: 500px;
    width: 100%;
}
.para{
  background-color: rgb(116, 116, 214);
  max-height:20px;
  min-height: 20px;
  overflow: hidden;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  margin: 10px auto 10px auto;
  font-size: small;
  padding-bottom: 2px;
}
.h1{
    color:  rgb(118, 118, 207);
    text-align: center;
    margin-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.color{
    background-color: rgba(224, 240, 235, 0.315);
}
.graph{
    color: gray;
    width: 75%;
    /* padding: 1px 200px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 2em;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.last{
    background-color: rgba(0, 0, 255, 0.623);
    padding: 5px 0px 5px 0px;
}
.div-6{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 90px 0px 90px;

}
.div-6 .one-one{
    text-align: center;
    color: rgb(118, 118, 207);
    border: 1px solid white;
    background-color: white;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
    /* display: inline-block; */
    /* height:200px ; */
    width: 350px ;
    font-weight: bolder;
    font-size: larger;
    padding: 35px 0px 40px 0px;
    margin-top: 20px;
}
 .div-6 .two{
    text-align: center;
    color: rgb(118, 118, 207);
    border: 1px solid white;
    background-color: white;
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
/* display: inline-block; */
width: 350px;
font-weight: bolder;
font-size: larger;
padding: 35px 0px 40px 0px;
margin-top: 20px;
} 
.div-6 .three{
    text-align: center;
    color: rgb(118, 118, 207);
    border: 1px solid white;
    background-color: white;
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
/* display: inline-block; */
height: ;
width:350px ;
font-weight: bolder;
font-size: larger;
padding: 35px 0px 40px 0px;
margin-top: 20px;
}
.div-6 .four{
    text-align: center;
    color: rgb(118, 118, 207);
    border: 1px solid white;
    background-color: white;
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
/* display: inline-block; */
font-weight: bolder;
font-size: larger;
width: 350px;
padding: 35px 0px 40px 0px;
margin-top: 20px;
}
.div-6 .five{
    text-align: center;
    color: rgb(118, 118, 207);
    border: 1px solid white;
    background-color: white;
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
/* display: inline-block; */
font-weight: bolder;
font-size: larger;
width: 350px;
padding: 35px 0px 40px 0px;
margin-top: 20px;
}
.div-6 .six{
    text-align: center;
    color: rgb(118, 118, 207);
    border: 1px solid white;
    background-color: white;
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
/* display: inline-block; */
font-weight: bolder;
font-size: larger;
width: 350px;
padding: 35px 0px 40px 0px;
margin-top: 20px;
} 
.online{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.education{
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.src{
    cursor: pointer;
    /* margin: 0px 3px 15px 4px; */
}
.ghar{
    cursor: pointer;
}
.spoon{
    cursor: pointer;
}
.fork{
    cursor: pointer;
}
.hunt{
    cursor: pointer;
}
.blur{
    cursor: pointer;
    /* margin: 0px 3px 15px 20px; */
}
.nine{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: gainsboro; */

}
.seven{ 
    margin:120px 0px 50px 0px;
    color:rgb(78, 78, 163);
    /* background-color: palevioletred; */
    width: 730px;
}
.eight{
    border: 1px solid white;
    max-width: 270px;
     max-height: 290px;
    margin: 150px 0px;
    color: gray;
    /* background-color: peru; */
}
.eight h3{
    color:rgb(78, 78, 163) ;
}
.ten{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.floor{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.hep{
    width: 350px;
    margin: 20px 0px 0px 0px;
     color: rgb(78, 78, 163);
    border: 1px solid lightgray;
    padding: 20px 0px 20px 0px;
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.house{
    width: 350px;
    margin: 20px 0px 0px 0px;
      color:rgb(78, 78, 163);
      border: 1px solid lightgray;
      padding: 20px 0px 20px 0px;
      background-color: whitesmoke;
      font-family: Georgia, 'Times New Roman', Times, serif;
}
.it{
    width: 350px;
    margin: 20px 0px 0px 0px;
    color: rgb(78, 78, 163);
    border: 1px solid lightgray;
    padding: 20px 0px 20px 0px;
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.thar{
    width: 350px;
    margin: 20px 0px 0px 0px;
    color: rgb(78, 78, 163);
    background-color: whitesmoke;
    border: 1px solid lightgray;
    padding: 20px 0px 20px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.us{
    cursor: pointer;
    margin: 0px 25px 0px 0px;
}
.rom{
    cursor: pointer;
    margin: 0px 25px 0px 0px;
}
.ram{
    cursor: pointer;
    margin: 0px 25px 0px 0px;
}
.hard{ 
    cursor: pointer;
    margin: 0px 25px 0px 0px;
}
.h2{
    color: rgb(78, 78, 163);
    display: inline-block;
    margin: 50px 100px 0px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h3{
    color: rgb(78, 78, 163);
      /* display: inline-block;  */
      /* margin: 0px 250px 0px; */
      position: absolute;
      left: 900px;
      top: 2455px;
      font-family: Georgia, 'Times New Roman', Times, serif;
} 
.h4{
    color: rgb(118, 118, 207);
    text-align: center;
    margin-top: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h4 img{
    margin: 0px 0px 30px 0px;
}
.monthly{
    /* text-align: center; */
    background-color:blue;
    color: white;
    font-size: large;
    font-family: Helvatica;
    font-weight: bold;
    padding: 80px 40px 120px 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.book{
    text-align: center;
    /* display:inline-block; */
}
.moon{
    text-align: center;
    /* display: inline-block; */
 }
.sun{
    text-align: center;
    /* display: inline-block; */
 }
.family{
    text-align: center;
    /* display: inline-block; */
}
.daily{
    font-size: 50px;
    /* margin: 0px 70px 0px 70px; */
}
.adop{
    font-size: 50px;
    /* margin: 0px 80px 0px 80px; */
}
.made{
    font-size: 50px;
    /* margin: 0px 20px 0px 20px; */
}
.end{
    font-size: 50px;
    /* margin: 0px 10px 0px 10px; */
}
div .tap{
    margin: 0px 0px 0px 0px;
}
div .turn{
    margin: 0px 0px 0px 0px;
}
div .board{
    margin: 0px 0px 0px 00px;
}
div .watch{
    margin: 0px 80px 0px 80px;
}
.h5{
    color: rgb(118, 118, 207);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.images{
    margin: 30px 120px 200px;
}
.copy{
    font-size: small;
    margin: 15px 100px 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.top-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(153, 147, 147, 0.3);
    width: 50px;
    padding: 0px 15px 0px 0px;
}
.top-btn .fa-angle-up{
    font-size: 40px;
}
.top-btn:hover{
    background-color: rgb(175, 171, 171);
}
.fa-angle-up:hover{
    background-color: transparent;
    color: white;
}
.second {
    display: flex;
    justify-content: space-around;
    background-color: rgb(245, 250, 245);
    /* flex-wrap: wrap; */
}
.saylani-logo{
    /* display: inline-block; */
    margin: 5px 0px 5px 0px;
}
#nav .fa {
    background-color: transparent;
    color: black;
}
.nav ul .fa {
    float: right;
    font-size: 15px;
}
#nav li a:hover .fa {
    color: white;
} 
.home {
    display: inline-block;
    border-radius: 30px;
    color: white;
    display:block;
    /* text-decoration:none; */
    padding: 0;
    line-height:35px; /* this is the hieght of the menu items */
    padding-left: 10px; /*this is the width of the menu items */
    padding-right: 10px;
    background-color: #005dab;
}
/* 2nd container */
.second {
    display: flex;
    justify-content: space-around;
    background-color: rgb(245, 250, 245);
    /* flex-wrap: wrap; */
}
.saylani-logo{
    /* display: inline-block; */
    margin: 5px 0px 5px 0px;
}
#nav .fa {
    background-color: transparent;
    color: black;
}
#nav ul .fa {
    float: right;
    font-size: 15px;
}
#nav li a:hover .fa {
    color: white;
} 
.home {
    /* display: inline-block; */
    border-radius: 30px;
    color: white;
    display:block;
    /* text-decoration:none; */
    padding: 0;
    line-height:35px; /* this is the hieght of the menu items */
    padding-left: 10px; /*this is the width of the menu items */
    padding-right: 10px;
    background-color: #005dab;
}

#nav {
    list-style:none inside;
    margin:0;
    padding:0;
    /* text-align:center; */;
}
#nav li {
    display:block;
    position:relative;
    float:left;
}    
#nav ul li {    
    background:white; /*sublists menu background color */
}
.nav >li, .nav-a {
    border-radius: 30px;
}

#nav .nav {
    /* text-align: center; */
    margin-top: 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}
#nav li .nav-a{
    display:block;
    text-decoration:none;
    padding:0;
    line-height:35px; /* this is the hieght of the menu items */
    padding-left: 10px; /*this is the width of the menu items */
    padding-right: 10px;
    /* border-radius: 20px; */
    color:black;
}
#nav li li a {
    display:block;
    padding:0;
    text-decoration:none;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px; /*this is the width of the menu items */
    line-height:35px; /* this is the hieght of the menu items */
    color: grey; /* list item font color */
    font-size:12px;
}
#nav li:hover {
    background:#005dab;
}
#nav li:hover >a {
    color: white;
}
#nav li:hover >a .fa {
    color: white;
}
/* #nav li li a {font-size:80%;} smaller font size for sub menu items */
#nav li a:hover {
    /* border-radius: 0px; */
    background:#005dab;
    color: white;
    text-decoration: none;
} 
    
#nav ul a:hover {
    padding-left: 20px;
    transition: 0.5s;
        /* padding-top: -5px; */
}
#nav ul {
    font-size: 12px;
    font-weight: 500;
    position:absolute;
    padding:0;
    left:0;
    display:none; /* hides sublists */
}
#nav li:hover ul ul {display:none;} /* hides sub-sublists */
#nav li:hover ul {
    display:block; /* shows sublist on hover */
    padding-top: 16px;  
}    
#nav li li:hover ul ul {display: none;}
#nav li li li:hover ul{display: block;}
#nav li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:200px;/* this should be the same width as the parent list item */
    margin-top:-51px;   /*aligns top of sub menu with top of list item */
}
    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
        border: 1px solid rgb(241, 236, 236);
      }
.use{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
   font-size: large;
   flex: 2;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact .fa{
    /* text-decoration: none; */
    padding: 8px 0px 0px 8px;
    border-radius: 50px;
    /* text-align: center; */
    background-color: blue;
    width: 30px;
    height: 30px;
    
}
.with .fa:hover{
    text-decoration: none;
    color: white;   
}
.with{
    /* border: 1px solid green; */
    width: 250px;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 0px 80px 0px;
    background-color: rgb(43, 40, 40);
    color: gray;
}
.contect{
    margin: 0px 0px 10px 0px;
    width: 450px;
    padding: 20px 0px 0px 0px;
    font-size: 15px;
    /* border: 1px solid red; */
}
.contect .fa{
    background-color: transparent;
    color: green;
}
.US{
    width: 250px;
    /* height: 100px; */
    /* border: 1px solid green; */
    margin: 0px 0px 10px 0px;
    /* padding: 0px 0px 10px 0px; */
}